.topBar{
    display: flex;
    justify-content: space-between;
}
.search{
    margin: 1.5rem;
    padding: .5rem 1.5rem;
    width: 70%;
    border: 1px solid #215776DB;
    border-radius: 3rem;
    display: flex;
    justify-content: space-between;
}

.searchBar{
    width: 100%;
    padding: 0.3rem;
}

.addNewItem{
    margin: 1.7rem 4rem 0;
    width: 15%;
}

.button{
    background-color: #76214ABF;
    padding: .5rem;
    border-radius: 10px;
    color: white;
}

