.homeMainContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.navbarMainContainer{
    flex: 1;
    background-color: #215776DB;
}

.contentContainer{
    flex: 4;
    background-color: white;
    overflow-x: hidden;
}