.careersJobCardContainer{
    width: 20vw;
    height: 30vh;
    margin: 1rem;
    border-radius: .5rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border: .5px solid rgba(0, 0, 0,.2);
}